/* @font-face {
    font-family: "Alata";
    src: url(C:\Users\audre\workspace\basic\assets\Alata-Regular.ttf);
  } */

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.lower-content {
    color: rgb(255, 0, 0);
    height: 50vh;
    position: relative;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: "Alata", sans-serif;
}

.bottom-bordered {
    color: white;
    border-bottom: white 20px solid;
    position: relative;
}

.floating-menu {
    position: fixed;
    top: 0;
    left: 20%;
    width: 100%;
}