/* @font-face {
    font-family: "Alata";
    src: url(C:\Users\audre\workspace\basic\assets\Alata-Regular.ttf);
  } */

.lower-content {
    color: rgb(255, 115, 0);
    height: 50vh;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: "Alata", sans-serif;
}

.bottom-bordered {
    border-bottom: black 20px solid;
}

.floating-menu {
    position: fixed;
    top: 0;
    left: 20%;
    width: 100%;
}